/* navbar.css */

.navbar {
  position: fixed; /* Fix the navbar position */
  top: 0; /* Position it at the top of the viewport */
  left: 0; /* Align it to the left */
  width: 100%; /* Take up the full width of the viewport */
  background-color: #ff7b00; /* Bootstrap primary color */
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo-text {
  color: white;
  margin-right: 10px;
}

.logo {
  margin-right: 10px;
}

.profile {
  position: relative;
  cursor: pointer;
}

.profile-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 10px;
}

.profile-dropdown {
  position: absolute;
  top: 60px;
  right: 0;
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;
  z-index: 999;
  width: 200px;
}

.dropdown-item {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 5px 0;
}

.dropdown-item:hover {
  background-color: #1c2023;
  color: #333;
}
